:global(.swiper-slide-thumb-active) {
  background-color: #f6f7ff;

  &:hover {
    cursor: default;
  }
}

:global(.slider_tabs .swiper-pagination) {

  @media (min-width: 1023px) {
    display: none;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  width: 100%;
  padding: 60px 98px;

  @media (max-width: 1023px) {
    padding: 0;
  }
}

.slider_thumbs {
  display: flex;

  @media (max-width: 1023px) {
    display: none;
  }
}

.slide_thumb {
  position: relative;
  min-height: 93px;
  max-width: 293px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: #f6f7ff;
  }
}

.heading {
  font-size: 18px;
  font-weight: 500;
  position: relative;

  &_vault {
    margin-left: 43px;

    &::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 33px;
      left: -43px;
      top: -5px;
      background-image: url('../../assets/images/icon-vault.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &_cards {
    margin-left: 44px;

    &::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 33px;
      left: -45px;
      top: -5px;
      background-image: url('../../assets/images/icon-cards.svg');
      background-repeat: no-repeat;
    }
  }

  &_shield {
    margin-left: 38px;

    &::before {
      content: '';
      position: absolute;
      width: 28px;
      height: 34px;
      left: -38px;
      top: -7px;
      background-image: url('../../assets/images/icon-shield.svg');
      background-repeat: no-repeat;
    }
  }

  &_phone {
    margin-left: 28px;

    &::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 35px;
      left: -29px;
      top: -7px;
      background-image: url('../../assets/images/icon-phone-blue.svg');
      background-repeat: no-repeat;
    }
  }
}

.slider_tabs {
  height: 410px;

  @media (max-width: 1023px) {
    height: 380px;
  }

  @media (max-width: 767px) {
    height: 362px;
  }
}

.slide_tabs {
  position: relative;
  background-color: #f6f7ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 54px 70px;
  background-repeat: no-repeat;
  background-position: 82% 50%;

  @media (max-width: 1023px) {
    padding-left: 45px;
    background-position: 91% 50%;
  }

  @media (max-width: 767px) {
    padding: 54px 15px;
    background-position: 100% 40%;
  }
}

.text {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 140%;
  max-width: 406px;
  z-index: 10;

  @media (max-width: 1023px) {
    font-size: 18px;
    margin-bottom: 9px;
    max-width: 335px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 5px;
    max-width: 270px;

    &_app {
      max-width: 225px;
    }
  }
}

.list {
  position: relative;
  margin-bottom: 19px;
  z-index: 10;

  @media (max-width: 1023px) {
    margin-bottom: 15px;
  }

  &_car {
    margin-bottom: 14px;
  }
}

.list_item {
  margin-bottom: 15px;
  margin-left: 21px;
  font-size: 18px;
  max-width: 371px;
  line-height: 130%;
  position: relative;

  @media (max-width: 1023px) {
    font-size: 16px;
    max-width: 351px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 12px;
    max-width: 212px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 9px;
    left: -21px;
    top: 7px;
    background-image: url('../../assets/images/check.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 767px) {
      left: -17px;
      top: 4px;
    }
  }

  &_app {
    max-width: 350px;

    @media (max-width: 1023px) {
      max-width: 300px;
    }

    @media (max-width: 1023px) {
      max-width: 195px;
    }
  }
}

.link {
  display: block;
  min-width: 198px;
  min-height: 51px;
  background-color: #2c36f2;
  color: #f6f7ff;
  font-weight: 500;
  padding: 16px 15px;
  text-align: center;
  border-radius: 4px;
  border: none;
  transition: background-color 0.25s ease-out;
  z-index: 10;

  @media (max-width: 1023px) {
    min-height: 48px;
    padding-bottom: 13px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    min-height: 43px;
    min-width: 290px;
    width: 100%;
    padding-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: darken(#2c36f2, 10);
  }
}

.img {
  position: absolute;
  top: 60px;
  left: 51%;
  width: min-content;
  z-index: 5;

  @media (max-width: 1100px) {
    max-width: 400px;

    &_pig {
      left: 55%;
      max-width: 370px;
    }
  }

  @media (max-width: 1023px) {
    right: 45px;
    left: unset;
    max-width: unset;
  }

  @media (max-width: 767px) {
    top: 98px;
    right: 0;
  }
}

.text_with_link {
  font-size: 18px;
  line-height: 140%;
  margin-top: 0;
  z-index: 10;

  @media (max-width: 1023px) {
    font-size: 16px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.link_in_text {
  text-decoration-line: underline;
  font-weight: 500;
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 0.5;
  }
}
