.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 8px 98px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1023px) {
    padding: 45px 45px 0;
  }

  @media (max-width: 767px) {
    padding: 38px 15px 0;
  }
}

.heading {
  font-size: 41px;
  font-weight: 700;
  align-self: flex-start;

  @media (max-width: 1023px) {
    font-size: 32px;
    margin-bottom: 18px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
