.form {
  display: flex;
  max-width: 1366px;
  width: 100%;
  
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  margin-right: 70px;
}

.wrapper_select {
  max-width: 600px;
}

.heading {
  font-size: 22px;
  font-weight: 500;
  
  @media (max-width: 1023px) {
    font-size: 18px;
  }
  
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.wrapper_parameters {
  max-width: 600px;
  padding-top: 19px;
}

.wrapper_price {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 14px;
}

.label_text {
  color: #394959;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.input {
  text-align: center;
  min-height: 60px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #1f1e25;
  font-family: 'Roboto', Arial, sans-serif;
  
  @media (max-width: 1023px) {
    font-size: 16px;
  }

  &_year {
    margin-bottom: 3px;
  }
  
  &_error:focus {
    border-color: red;
  }
}

.price_control_button {
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  background-size: contain;

  &_minus {
    top: 50px;
    left: 24px;
    background-image: url('../../assets/images/minus.svg');
  }

  &_plus {
    top: 50px;
    right: 24px;
    background-image: url('../../assets/images/plus.svg');
  }

  &:hover {
    cursor: pointer;
  }
}

.price_from {
  font-size: 14px;
  color: #707C87;
}

.wrapper_checkbox {
  display: flex;
  flex-direction: column;
}
