.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 91px;
  background-color: #f6f7ff;

  @media (max-width: 1023px) {
    min-height: 69px;
  }

  @media (max-width: 767px) {
    min-height: 48px;
  }
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  padding: 0 96px;

  @media (max-width: 1150px) {
    max-width: 1150px;
    padding: 0 40px;
  }

  @media (max-width: 1023px) {
    justify-content: space-between;
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
    justify-content: flex-start;
    flex-wrap: wrap;

    &_menu_open {
      position: relative;
      height: 100%;
      align-items: flex-start;
      padding-top: 20px;
      z-index: 10;
      overflow-x: scroll;
    }
  }
}

.button_menu {
  display: none;

  @media (max-width: 767px) {
    display: block;
    width: 16px;
    height: 12px;
    border: none;
    margin-right: 11px;
    background-image: url('../../assets/images/mobile-menu.svg');
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.nav {
  min-width: 474px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: 1023px) {
    min-width: unset;
    flex-grow: 0;
    padding: 0;
  }

  @media (max-width: 767px) {
    display: none;
    padding-left: 0;
    min-width: 290px;
    margin-right: 0;

    &_menu_open {
      display: flex;
      justify-content: stretch;
      width: 100%;
    }
  }
}

.button_wrapper {
  position: relative;
  min-width: 200px;

  @media (max-width: 1023px) {
    min-width: unset;
  }

  @media (max-width: 767px) {
    position: static;
  }

  &_menu_open {
    position: relative;
    width: 100%;
  }
}

.link {
  position: relative;
  display: block;
  transition: opacity 0.25s ease-out;
  padding-left: 26px;

  @media (max-width: 1023px) {
    font-size: 0;
    width: 20px;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    position: absolute;
    right: 17px;
  }

  &:hover {
    opacity: 0.5;
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -4px;
    width: 20px;
    height: 22px;
    background-image: url('../../assets/images/icon-login.svg');
    background-repeat: no-repeat;

    @media (max-width: 1023px) {
      top: -11px;
      left: 0;
    }

    @media (max-width: 767px) {
      width: 14px;
      height: 16px;
      top: -7px;
      left: 8px;
      background-size: contain;
    }
  }

  &_menu_open {

    @media (max-width: 767px) {
      margin-bottom: 100vh;
      font-size: 16px;
      width: 100%;
      padding-left: 45px;
      border-top: 1px solid #c1c2ca;
      border-bottom: 1px solid #c1c2ca;
      height: 60px;
      padding-top: 20px;
      position: relative;
      right: 0;

      &::before {
        width: 20px;
        height: 22px;
        top: 18px;
        left: 15px;
      }
    }
  }
}

.button_close {
  display: none;

  @media (max-width: 767px) {

    &_menu_open {
      display: block;
      position: absolute;
      background-image: url('../../assets/images/button-close.svg');
      background-repeat: no-repeat;
      background-size: 15px;
      border: none;
      width: 20px;
      height: 20px;
      top: 15px;
      right: 9px;
      background-color: transparent;
    }
  }
}
