.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 26px 98px;

  @media (max-width: 1023px) {
    padding: 0 45px 26px;
  }

  @media (max-width: 767px) {
    padding: 0 0 26px;
  }
}

.heading {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 61px;

  @media (max-width: 1023px) {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 36px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 31px;
  }
}

.map {
  height: 462px;
  max-width: 1170px;
  width: 100%;

  @media (max-width: 767px) {
    height: 381px;
  }
}
