.slide {
  height: 400px;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex:
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}